src/main/resources/META-INF/xsd/config/config.v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/cloud-sense/sense-config/v1.0"
           xmlns:sense="http://docs.rackspacecloud.com/cloud-sense/sense-config/v1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="sense-config" type="sense:sense-config" />
    
    <xs:complexType name="sense-config">
        <xs:sequence>
            <xs:element name="defaults" type="sense:defaults" minOccurs="0" maxOccurs="1" />
            <xs:element name="workspace" type="sense:workspace-config" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="defaults">
        <xs:annotation>
            <xs:documentation>
                Defines certain defaults which will be merged down into configuration elements that have comparable analogues
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="author" type="sense:author" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="workspace-config">
        <xs:annotation>
            <xs:documentation>
                Describe an ATOMpub server
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="feed" type="sense:feed-config" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="property" type="sense:property" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required" />
        <xs:attribute name="resource-base" type="xs:string" use="required" />

        <xs:attribute name="default-adapter-ref" type="xs:string" use="optional" />
        <xs:attribute name="default-adapter-class" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="property">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="feed-config">
        <xs:sequence>
            <xs:element name="author" type="sense:author" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required" />
        <xs:attribute name="resource" type="xs:string" use="required" />

        <xs:attribute name="adapter-ref" type="xs:string" use="optional" />
        <xs:attribute name="adapter-class" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="author">
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>