hopper/src/main/resources/META-INF/schema/config/atom-hopper-config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://atomhopper.org/atom/hopper-config/v1.0"
           xmlns:hopcfg="http://atomhopper.org/atom/hopper-config/v1.0"
           xmlns:xhtml="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="atom-hopper-config" type="hopcfg:Configuration" />

    <xs:complexType name="Configuration">
        <xs:sequence>
            <xs:element name="defaults"            type="hopcfg:ConfigurationDefaults"   minOccurs="0" maxOccurs="1" />
            <xs:element name="host"                type="hopcfg:HostConfiguration"       minOccurs="1" maxOccurs="1" />
            <xs:element name="provider-filters"    type="hopcfg:ProviderFiltersType"     minOccurs="0" maxOccurs="1" />
            <xs:element name="workspace"           type="hopcfg:WorkspaceConfiguration"  minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConfigurationDefaults">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    Defines certain defaults which will be merged down into
                    configuration elements that have comparable analogues.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="author" type="hopcfg:Author" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HostConfiguration">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="domain" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="scheme" default="http" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="WorkspaceConfiguration">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    Describe an ATOMpub Workspace. A workspace is a logical
                    collection of related feeds.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="defaults" type="hopcfg:ConfigurationDefaults" minOccurs="0" maxOccurs="1" />
            <xs:element name="categories-descriptor" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed" type="hopcfg:FeedConfiguration" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                        This sets the title of the workspace when a response is
                        generated for a client request
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="resource" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enableRegexFeeds" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                        This is a boolean flag that controls the way Atom Hopper will treat the 'resource' string.
                        If this flag is set to true, the 'resource' string will be interpreted as a regular 
                        expression. If set to flase, the 'resource' string will be treated as is.
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FeedConfiguration">
        <xs:sequence>
            <xs:element name="author" type="hopcfg:Author" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-source"            type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="publisher"              type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="archive-feed"           type="hopcfg:ArchiveSource" minOccurs="0" maxOccurs="1" />
            <xs:element name="current-feed"           type="hopcfg:CurrentSource" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-response-handlers" type="hopcfg:FeedResponseHandlers" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="resource" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="archived" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CurrentSource">
        <xs:attribute name="href" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ArchiveSource">
        <xs:attribute name="href" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FeedResponseHandlers">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    This element holds the list of Feed Response Handler classes, which all have to implement 
                    the org.atomhopper.abdera.filter.AdapterResponseInterceptor interface. Feed Response 
                    handler can process responses and augment AdapterResponse objects, in a similar manner
                    to a Servlet Filter operating on HttpServletResponse objects.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="feed-response-handler" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProviderFiltersType">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    This element holds the list of Workspace Provider Filter classes, which all have to implement 
                    the org.atomhopper.abdera.protocol.server.Filter interface. Workspace Provider Filter
                    can process responses and invoke the next filter in the chain, in a similar manner
                    to a Servlet Filter operating on HttpServletRequest objects.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="provider-filter" type="hopcfg:FilterDescriptor" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FilterDescriptor">
        <xs:attribute name="reference" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AdapterDescriptor">
        <xs:sequence>
            <xs:element name="parameter" type="hopcfg:AdapterParameter" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="reference" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="class" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AdapterParameter">
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Author">
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
