hopper/src/main/resources/META-INF/schema/config/atom-hopper-config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://atomhopper.org/atom/hopper-config/v1.0"
           xmlns:hopcfg="http://atomhopper.org/atom/hopper-config/v1.0"
           xmlns:xhtml="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="atom-hopper-config" type="hopcfg:Configuration" />

    <xs:complexType name="Configuration">
        <xs:sequence>
            <xs:element name="defaults" type="hopcfg:ConfigurationDefaults" minOccurs="0" maxOccurs="1" />
            <xs:element name="host" type="hopcfg:HostConfiguration" minOccurs="1" maxOccurs="1" />
            <xs:element name="workspace" type="hopcfg:WorkspaceConfiguration" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConfigurationDefaults">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    Defines certain defaults which will be merged down into
                    configuration elements that have comparable analogues.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="author" type="hopcfg:Author" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HostConfiguration">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="domain" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="WorkspaceConfiguration">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p>
                    Describe an ATOMpub Workspace. A workspace is a logical
                    collection of related feeds.
                </xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="defaults" type="hopcfg:ConfigurationDefaults" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-source" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-publisher" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />

            <xs:element name="feed" type="hopcfg:FeedConfiguration" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                        This sets the title of the workspace when a response is
                        generated for a client request
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="resource" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p>
                    </xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FeedConfiguration">
        <xs:sequence>
            <xs:element name="feed-source" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-publisher" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="author" type="hopcfg:Author" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="title" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="resource" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AdapterDescriptor">
        <xs:attribute name="reference" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="class" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ArchivalConfiguration">
        <xs:annotation>
            <xs:documentation>
                <xhtml:p></xhtml:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="feed-archive-source" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
            <xs:element name="feed-archiver" type="hopcfg:AdapterDescriptor" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="interval-spec" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Author">
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <xhtml:p></xhtml:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>